swagger: "2.0"
info:
  version: 1.0.0
  title: Users
  description: General user service for mobile applications and games

host: api.zeliclabs.com
basePath: /v1

consumes:
  - application/json
  - application/JSON
produces:
  - application/json
  - application/JSON

securityDefinitions:
  Authorization:
    name: Authorization
    type: apiKey
    in: header

tags:
  - name: Authentication
  - name: Profile
  - name: Users
  - name: Leaderboards

paths:
  /signup:
    post:
      operationId: signUp
      tags:
        - Authentication
      description: Sign up with username and password
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/SignUpRequest"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/AuthResponse"
        400:
          $ref: "#/responses/400"
        500:
          $ref: "#/responses/500"

  /signin-facebook:
    post:
      operationId: signInFacebook
      tags:
        - Authentication
      description: Sign in with Facebook
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/SignInFacebookRequest"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/AuthResponse"
        400:
          $ref: "#/responses/400"
        500:
          $ref: "#/responses/500"

  /signin-apple:
    post:
      operationId: signInApple
      tags:
        - Authentication
      description: Sign in with Apple
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/SignInAppleRequest"
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/AuthResponse"
        400:
          $ref: "#/responses/400"
        500:
          $ref: "#/responses/500"

  /signin:
    post:
      operationId: signIn
      tags:
        - Authentication
      description: Sign in with username and password
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/SignInRequest"

      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/AuthResponse"
        400:
          $ref: "#/responses/400"
        500:
          $ref: "#/responses/500"

  /profile:
    get:
      operationId: getProfile
      tags:
        - Profile
      security:
        - Authorization: []
      description: Return profile of the current user
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Profile"
        400:
          $ref: "#/responses/400"
        501:
          $ref: "#/responses/501"

  /score:
    post:
      operationId: submitScore
      tags:
        - Scores
      security:
        - Authorization: []
      description: Submit score
      responses:
        200:
          description: Success
        400:
          $ref: "#/responses/400"
        401:
          $ref: "#/responses/401"

  /leaderboard:
    get:
      operationId: getLeaderboard
      tags:
        - Leaderboards
      security:
        - Authorization: []
      description: Return leaderboard
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Leaderboard"
        400:
          $ref: "#/responses/400"
        401:
          $ref: "#/responses/401"

  /users:
    get:
      operationId: listUsers
      tags:
        - Users
      security:
        - Authorization: []
      description: Return a list of users
      responses:
        200:
          description: Success
        400:
          $ref: "#/responses/400"
        501:
          $ref: "#/responses/501"

definitions:
  SignInRequest:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
      - username
      - password

  SignUpRequest:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
      password_confirmation:
        type: string
    required:
      - username
      - password
      - password_confirmation

  SignInFacebookRequest:
    type: object
    properties:
      token:
        type: string
    required:
      - token

  SignInAppleRequest:
    type: object
    properties:
      token:
        type: string
    required:
      - token

  AuthResponse:
    type: object
    properties:
      access_token:
        type: string
      username:
        type: string

  Profile:
    type: object
    properties:
      username:
        type: string
      email:
        type: string
  User:
    type: object
    properties:
      id:
        type: integer
      username:
        type: string
      email:
        type: string
      ext_id:
        type: string

  LeaderboardItem:
    type: object
    properties:
      email:
        type: string
      points:
        type: integer
      rank:
        type: integer

  Leaderboard:
    type: array
    items:
      $ref: "#/definitions/LeaderboardItem"

responses:
  400:
    description: Invalid request
    schema:
      type: object
      properties:
        message:
          type: string

  401:
    description: Unauthorized
    schema:
      type: object
      properties:
        message:
          type: string

  500:
    description: Internal server error
    schema:
      type: object
      properties:
        message:
          type: string

  501:
    description: Not implemented
    schema:
      type: object
      properties:
        message:
          type: string
